@model ecosystem.Models.TipoTecnologia

@{
    ViewBag.Title = "TipoTecnologia";
    Layout = "~/mainPage.cshtml";
}



<div>
    <div class="row" style="padding-right: 5px;margin-right: 0px;margin-left: 0px;">
        <div class="col-md-8">
            <label id="#empresaconf" style="color: white;">@ViewBag.ConductoresConf</label>
            <label id="#perfil" style="color: white;">@ViewBag.Perfil</label>
            <label id="#correoUsuario" style="color: white;">@ViewBag.Correo</label>
        </div>
        <div align="right" class="col-md-4" style="padding: 10px 5px 0px 0px; font-size: 0.93rem;">
            <label id="#ruta">Bienvenido(a)</label>
            <label id="#usuario" style="font-weight: bold;">@ViewBag.Usuario</label>
            <button id="salirUsuario" data-toggle="tooltip" data-placement="bottom" title="Cerrar Sesión" class="btn" style="color: #009900; font-size: 25px; padding-left: 0px; padding-right: 0px; padding-bottom: 10px;"><i class="fas fa-sign-out-alt"></i></button>
        </div>
    </div>
</div>
<div class="row animated slideInRight" style="margin-top: 15px; margin-left:5px; margin-right: 5px; background-color: #f8f9fa ; color: white; padding-left: 5px; font-weight: bold; font-size: 1.1rem; font-style: italic; text-align: center;">
    <div class="col-md-3" style="background-color: #28a745; padding-top: 10px; padding-right: 0px;">
        INGRESO DE TIPO DE TECNOLOGIA
    </div>
    <div class="col-md-1 triangle-bottomleft">
    </div>
    <div class="col-md-8">
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="mensajeAlerta">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <label id="msgTipoTecnologia" style="font-weight: bold; padding-left: 15px;"></label>
                </div>
                <div class="row">
                    <label id="msgTipoTecnologia1" style="padding-left: 15px;"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="aceptarMensajeTipoTecnologia" class="btn btn-info">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div><!-- /.modal -->
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="mensajeAlertaEliminarTipoTecnologia">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <label id="msgTipoTecnologia3" style="padding-left: 15px; text-align:center; width: 100%;"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="aceptarMensajeEliminarTipoTecnologia" class="btn btn-info" data-dismiss="modal">Aceptar</button>
            </div>
        </div>

    </div><!-- /.modal -->
</div>

<!--Ventana Modal Registro Tipo de Tecnologia-->
<div class="modal fade" id="datosTipoTecnologia" tabindex="-1" data-focus-on="input:first" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="card" style="margin-bottom: 5px;">
                <div class="card-header">
                    <a class="collapsed card-link">
                        <p class="font-weight-bold">TIPO DE TECNOLOGIA</p>
                    </a>
                </div>
                <div id="registroTipoTecnologia" class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-2" style="padding: 0px 5px 0px 0px;">
                                <div class="form-group">
                                    <label for="">Código</label>
                                    <input class="form-control" id="Cod_Tecnologia" autocomplete="off" maxlength="8" onfocusout="checkVacio(this)">
                                </div>
                            </div>
                            <div class="col-md-10" style="padding: 0px 5px 0px 0px;">
                                <div class="form-group">
                                    <label for="">Descripción</label>
                                    <input class="form-control" id="Nom_Tecnologia" autocomplete="off" onfocusout="checkVacio(this)">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row" style="margin-top: 15px; margin-left:15px; margin-right: 15px;">
                    <div class="col-md-6"></div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <button id="cerrarTipoTecnologia" type="button" class="btn btn-light" style="margin-right: 5px; font-size: 0.85rem; width: 100%;">Cerrar</button>
                    </div>
                    <div class="col-md-3" style="padding-right: 0px;">
                        <button id="guardarTipoTecnologia" type="button" class="btn btn-info" style="margin-bottom: 20px; font-size: 0.85rem; width: 100%;">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="alertaCamposVaciosTipoTecnologia">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-danger">
                <h5 class="modal-title">Alerta</h5>
            </div>
            <div class="modal-body">
                <label id="mensajeVacioTipoTecnologia"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!--Pantalla Principal-->
<div class="row" style="margin-top: 15px; margin-left:15px; margin-right: 15px;">
    <div class="col-md-9" style="padding: 0px 5px 0px 0px;">
    </div>
    <div class="col-md-2" style="padding: 0px 0px 0px 0px; margin-left: 6px;padding-left: 60px;">
        <button id="nuevoTipoTecnologia" type="button" class="btn btn-success" data-dismiss="modal" style="margin-right: 5px; margin-top: 32px; font-size: 0.85rem; width: 100%;" data-toggle="modal" data-target="#listaTipoTecnologia"><i class="fas fa-plus"></i> Agregar Nuevo</button>
    </div>
    <div class="col-md-1" style="padding: 0px 5px 0px 0px;">
    </div>
</div>

<div class="row" style="margin-top: 15px; margin-left:15px; margin-right: 15px;">
    <div class="container" style="padding-top: 0px;">
        <table id="tbl-TipoTecnologia" class="table table-striped table-bordered customtable" cellspacing="0" style="width:100%;">
        </table>
    </div>
</div>
