@using ecosystem.Models

@{
    ViewBag.Title = "ActualizarPassword";
    Layout = "~/mainPage.cshtml";
}

<!--Pantalla Principal-->
    <div class="container">
        <div class="row my-auto">
            <div class="card mx-auto" style="margin-top: 30px; max-width: 300px;">
                <img class="card-img-top" src="~/style/img/logo-big.png" alt="" style="margin-top: 30px;">
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="">Correo</label>
                            <input class="form-control" id="correo" autocomplete="off" disabled value=@ViewBag.RecuperarUsuarioCorreo>
                        </div>
                        <div class="form-group">
                            <label for="">Nueva Contraseña</label>
                            <input class="form-control" id="password" autocomplete="off" type="password">
                            <span id="togglepassword" toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Repetir Contraseña</label>
                            <input class="form-control" id="rpassword" autocomplete="off" type="password">
                            <span id="togglerpassword" toggle="#rpassword" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            <br />
                            <label id="coincide" style="color: red; text-align: center;"></label>
                            <button type="button" id="actualizarPassword" class="btn btn-info" style="width: 100%;" ;">Aceptar</button>
                        </div>
                        <div id="errorActualizar" style="color: white; height: 25px; text-align: center;">Existen campos vacíos</div>
                    </div>
                </div>
            </div>
        </div>
    </div>